# Problem 1

The data set provided to you is the data set of a Café Chain for one of its restaurants. Do a thorough analysis of the data and come up with the following analysis and present it in a PowerPoint deck of 10 – 20 slides.

The owner of the restaurant wants you to use this data to come up with a set of recommendations that can help his Café Chain increase his revenues. He has not been able to launch a loyalty program and is unable to provide you with a data set that has customer level information. But, he is able to provide you with a data set for POS (point of sale data) for one of his chains.

### Upload Required Libraries

In [196]:
import numpy as np   
import pandas as pd
import os

import seaborn as sns
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')
import sweetviz as sv

import warnings
warnings.filterwarnings("ignore")

### Importing data

In [197]:
## Load the csv file available in the working or specified directory
#os.chdir('C:\\GL Class\DSBA - Python\Machine Learning\Week 2')
df = pd.read_excel('Cafe_Data_MRA.xlsx')

### EDA

In [198]:
# Check top few records to get a feel of the data structure
df.head()

,Date,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category
0,2010-04-01,G0470115,QUA MINERAL WATER(1000ML),13:15:11,1,50.0,11.88,0.0,61.88,BEVERAGE
1,2010-04-01,G0470115,MONSOON MALABAR (AULAIT),13:15:11,1,100.0,23.75,0.0,123.75,BEVERAGE
2,2010-04-01,G0470116,MASALA CHAI CUTTING,13:17:35,1,40.0,9.50,0.0,49.50,BEVERAGE
3,2010-04-01,G0470117,QUA MINERAL WATER(1000ML),13:19:55,1,50.0,11.88,0.0,61.88,BEVERAGE
4,2010-04-01,G0470283,MOROCCAN MINT TEA,01:20:18,1,45.0,10.69,0.0,55.69,BEVERAGE


#### Shape

In [199]:
print("no. of rows: ",df.shape[0], "\n""no. of columns: ",df.shape[1])

no. of rows:  145830
no. of columns:  10

#### Data type of data features

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145830 entries, 0 to 145829
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          145830 non-null  datetime64[ns]
 1   Bill Number   145830 non-null  object
 2   Item Desc     145830 non-null  object
 3   Time          145830 non-null  object
 4   Quantity      145830 non-null  int64
 5   Rate          145830 non-null  float64
 6   Tax           145830 non-null  float64
 7   Discount      145830 non-null  float64
 8   Total         145830 non-null  float64
 9   Category      145830 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 11.1+ MB

#### Making different list for categorical columns and numerical columns

In [201]:
cat=[]
num=[]
dat=[]
for i in df.columns:
    if df[i].dtype=="object":
        cat.append(i)
    elif df[i].dtype=="datetime64[ns]":
        dat.append(i)
    else:
        num.append(i)
print(cat) 
print(num)
print(dat)

['Bill Number ', 'Item Desc', 'Time', 'Category']
['Quantity', 'Rate', 'Tax', 'Discount', 'Total']
['Date']

#### Describe for numerical and categorical columns

In [202]:
df[num].describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,145830.0,1.121299,0.477237,1.00,1.00,1.00,1.0,30.00
Rate,145830.0,161.782259,102.244631,0.01,95.00,125.00,225.0,2100.00
Tax,145830.0,48.929061,40.272851,0.00,22.56,32.06,72.0,2731.25
Discount,145830.0,0.095079,3.720735,0.00,0.00,0.00,0.0,825.00
Total,145830.0,224.959852,164.960776,0.01,117.56,167.06,315.0,14231.25

In [203]:
df[cat].describe().T

               count unique                             top   freq
Bill Number   145830  69982                        G0518006     23
Item Desc     145830    580  NIRVANA HOOKAH SINGLE            8553
Time          145830  36200                        22:25:36     33
Category      145830      9                            FOOD  57023

### unique values for categorical variables

In [204]:
for column in df.columns:
    if df[column].dtype == 'object':
        print(column.upper(),': ',df[column].nunique())
        print(df[column].value_counts().sort_values())
        print('\n')

BILL NUMBER  :  69982
G0484999     1
G0530270     1
G0484497     1
G0514674     1
G0492504     1
            ..
G0495644    18
G0526679    19
G0489943    21
G0490530    23
G0518006    23
Name: Bill Number , Length: 69982, dtype: int64


ITEM DESC :  580
1+1 VLN CAB SAUV (BTL)                     1
ETCHED LEAF TLIGHT HOLDER                  1
DECAFFINATE COFFEE FRAPPE                  1
CH CRICKET NOTEBOOK                        1
INDIA KINGS OCEAN BLUE                     1
                                        ...
SAMBUCA                                 4425
GREAT LAKES SHAKE                       4895
CAPPUCCINO                              5495
MINT FLAVOUR SINGLE                     5817
NIRVANA HOOKAH SINGLE                   8553
Name: Item Desc, Length: 580, dtype: int64


TIME :  36200
16:49:34     1
11:35:12     1
14:15:27     1
22:14:22     1
16:04:54     1
            ..
21:07:44    25
23:02:58    26
22:58:37    29
23:35:33    30
22:25:36    33
Name: Time, Length: 36200, dtype: int64


CATEGORY :  9
LIQUOR                  1
LIQUOR & TOBACCO       54
MERCHANDISE           487
WINES                 809
MISC                 1187
LIQUOR               6200
TOBACCO             36496
BEVERAGE            43573
FOOD                57023
Name: Category, dtype: int64

In [205]:
df[df['Category']  == 'LIQUOR']

,Date,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category
258,2010-04-01,N0027835,CARLSBERG,13:37:13,1,120.0,37.50,0.0,157.50,LIQUOR
259,2010-04-01,N0027836,CARLSBERG,13:55:17,1,120.0,37.50,0.0,157.50,LIQUOR
260,2010-04-01,N0027837,TUBORG,15:30:42,2,100.0,62.50,0.0,262.50,LIQUOR
261,2010-04-01,N0027838,TUBORG,16:16:40,1,100.0,31.25,0.0,131.25,LIQUOR
262,2010-04-01,N0027840,CARLSBERG,18:57:51,1,120.0,37.50,0.0,157.50,LIQUOR
...,...,...,...,...,...,...,...,...,...,...
145825,2010-05-22,N0028716,ZINZI WHITE (GLS),21:43:55,2,150.0,78.00,0.0,378.00,LIQUOR
145826,2010-04-27,N0028343,ZINZI WHITE (GLS),20:52:11,2,150.0,78.00,0.0,378.00,LIQUOR
145827,2010-05-28,N0028835,ZINZI WHITE (GLS),01:03:37,3,150.0,117.00,0.0,567.00,LIQUOR
145828,2010-04-30,N0028399,ZINZI WHITE (GLS),23:44:37,1,150.0,39.00,0.0,189.00,LIQUOR
145829,2010-07-09,N0029472,ZINZI WHITE (BTL),00:31:51,1,700.0,182.00,0.0,882.00,LIQUOR

In [206]:
df[df['Category'] == 'MISC']['Item Desc'].value_counts()

ADD ON S                                379
PLAIN JANE (CHOCOLATE)                  159
ADD HERB ROAST CHICKEN                  158
PLAIN  JANE (STRAWBERRY)                 95
RED BULL SHEESHA                         91
PLAIN JANES (VANILLA)                    66
ROSE FLAVORS SINGLE                      44
ADD POTATO WEDGES                        34
KF DRAFT MUG                             23
GUAVA                                    22
MM SALSA SHEESHA                         12
PEACH BULL                               11
PAAN SHEESHA                             10
ICE BERG SHEESHA                         10
ADD TRADITIONAL MEAT FEAST                8
GREAT LAKES STAMP DAIRY                   7
1 AXE TWIST                               6
ADD CHICKEN BACON                         4
ENG BREAKFAST TEA                         4
ADD GROUND MEAT                           3
LEMON INFUSED CHAR GRILLED VEG            3
GREEK GYROS CRUSTINI                      2
PHILADELPHIA CREAM CHEESECAKE             2
QUESO CROQUETAS FRITOS                    2
HOTDOG WRAP                               2
FISH FINGER                               2
GIN (SM)                                  2
NUTELLA CREPES                            2
POLLO CON AIOLI                           2
DARK RUM (SM)                             2
ROAST CHICKEN SALAD                       2
ORANGE ARRABIATA                          2
M & M SHAKE                               1
RED BULL 2+1                              1
PARTY CHARGES @ 500/-                     1
JAPANESE YAKITORI WRAP                    1
POLLO PELOTA CON TAMATE SALSA             1
GNOCCHI CON POMMODORO                     1
GRAPPO SHEESHA                            1
ITALIAN CAPONATA PANINO                   1
ROMA TOMATO & JALAPENO CROQUE             1
MEDITER RANEAN PANINO                     1
MEXICAN CHILLY CREPES                     1
MANGO FLAVOUR SINGLE                      1
HOEGAARDEN GLS (2+1)                      1
RASPBERRY LITE SHAKE                      1
RED SANGRIA (CARAFE) áááááááá             1
HOEGAARDEN LTR MUGS (2+1)                 1
Name: Item Desc, dtype: int64

### Data Cleaning

In [207]:
df.Category = df.Category.replace('LIQUOR ','LIQUOR')

In [208]:
df['Category'] = df.apply(lambda row: 'BEVERAGE' if 'SHAKE' in row['Item Desc'] else row['Category'],axis=1)

In [209]:
df['Category'] = df.apply(lambda row: 'TOBACCO' if 'HOOKAH' in row['Item Desc'] else row['Category'],axis=1)

In [210]:
df['Category'] = df.apply(lambda row: 'TOBACCO' if 'SHEESHA' in row['Item Desc'] else row['Category'],axis=1)

In [229]:
df[df['Item Desc'] == 'SHAKE GLASS                   ']

,Date,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category
130541,2010-06-28,G0484368,SHAKE GLASS,23:25:09,1,250.0,31.25,0.0,281.25,BEVERAGE

In [230]:
df.loc[df['Item Desc'] == "SHAKE GLASS                   ", "Category"] = "MERCHANDISE"

In [211]:
# Are there any missing values ?
df.isnull().sum()

Date            0
Bill Number     0
Item Desc       0
Time            0
Quantity        0
Rate            0
Tax             0
Discount        0
Total           0
Category        0
dtype: int64

In [212]:
## Are there any duplicate records

# Check for duplicate data

dups = df.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))

df[dups]

Number of duplicate rows = 680

,Date,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category
198,2010-04-01,G0470211,B.M.T. PANINI,19:42:27,1,105.0,24.94,0.0,129.94,FOOD
199,2010-04-01,G0470211,B.M.T. PANINI,19:42:27,1,105.0,24.94,0.0,129.94,FOOD
244,2010-04-01,G0470270,B.M.T. PANINI,00:08:20,1,105.0,24.94,0.0,129.94,FOOD
551,2010-05-01,G0474965,PHILLYCREAM CHEESE &CHILLY PAN,13:33:51,1,105.0,24.94,0.0,129.94,FOOD
588,2010-05-01,G0475009,B.M.T. PANINI,17:12:21,1,105.0,24.94,0.0,129.94,FOOD
...,...,...,...,...,...,...,...,...,...,...
144615,2010-10-31,G0506562,DOPPIO,19:08:48,1,60.0,14.25,0.0,74.25,BEVERAGE
144727,2010-10-31,G0506566,CHEESE CAKE OF THE WEEK,19:20:52,1,105.0,24.94,0.0,129.94,FOOD
145129,2010-12-31,G0517963,CAPPUCCINO,20:50:13,1,60.0,14.25,0.0,74.25,BEVERAGE
145255,2010-12-31,G0517869,PHILLYCREAM CHEESE &CHILLY PAN,15:12:41,1,105.0,24.94,0.0,129.94,FOOD
145315,2010-12-31,G0518126,PHILLYCREAM CHEESE &CHILLY PAN,05:02:24,1,105.0,24.94,0.0,129.94,FOOD

In [231]:
df.to_excel("Cafe_Data_MRA_Cleaned.xlsx")